body {
  overflow-x: hidden; }

.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 1em; }

.navbar .nav-item.active {
  border-bottom: #255f63 3px solid; }

.carousel-item {
  height: 500px; }

.carousel-image-1 {
  background: url("../lib/microphone.jpg");
  background-size: cover; }

.carousel-image-2 {
  background: url("../lib/photo.jpg");
  background-size: cover; }

.carousel-image-3 {
  background: url("../lib/keyboard.jpg");
  background-size: cover; }

#home-icons .fa {
  font-size: 40px; }

#home-heading {
  position: relative;
  min-height: 300px;
  background: url("../lib/spark.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  color: white; }

.dark-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#video-play {
  position: relative;
  min-height: 300px;
  background: url("../lib/media1.jpeg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  color: white; }

#page-header {
  height: 200px;
  background: url("../lib/keyboard.jpg");
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #ffffff; }
